/var/cache/*
!/var/cache/.gitkeep
/var/cmsdata/*
!/var/cmsdata/.gitkeep
/config/parameters.yaml
/var/log/*
!/var/log/.gitkeep
/behat-parameters.yml
/bin/
/composer.phar
/public/assets/less/chameleon.css
/public/chameleon/mediapool/*
!/public/chameleon/mediapool/.gitkeep

/public/chameleon/outbox/*
!/public/chameleon/outbox/static/
/public/chameleon/outbox/static/*

!/public/chameleon/outbox/static/css/
/public/chameleon/outbox/static/css/*
!/public/chameleon/outbox/static/css/.gitkeep

!/public/chameleon/outbox/static/js/
/public/chameleon/outbox/static/js/*
!/public/chameleon/outbox/static/js/.gitkeep

!/public/chameleon/outbox/static/less/
/public/chameleon/outbox/static/less/*
!/public/chameleon/outbox/static/less/.gitkeep

###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
