app/bootstrap.php.cache
app/cache/*
!app/cache/.gitkeep
app/cmsdata/*
!app/cmsdata/.gitkeep
app/config/parameters.yml
app/logs/*
!app/logs/.gitkeep
behat-parameters.yml
bin/
composer.phar
vendor/
web/assets/less/chameleon.css
web/bundles/
web/chameleon/mediapool/*
!web/chameleon/mediapool/.gitkeep

web/chameleon/outbox/*
!web/chameleon/outbox/static/
web/chameleon/outbox/static/*

!web/chameleon/outbox/static/css/
web/chameleon/outbox/static/css/*
!web/chameleon/outbox/static/css/.gitkeep

!web/chameleon/outbox/static/js/
web/chameleon/outbox/static/js/*
!web/chameleon/outbox/static/js/.gitkeep

!web/chameleon/outbox/static/less/
web/chameleon/outbox/static/less/*
!web/chameleon/outbox/static/less/.gitkeep
